/* MOBILE/DEFAULT VIEW */

#skip {
  position: absolute;
  left: -10000px;
  overflow: hidden;
  top: auto;
  text-decoration: none;
}

#skip:focus {
  position: static;
  top: 0;
}

nav {
  text-align: center;
  padding-top:10px;
}

nav ul {
  list-style: none;
  padding-top: 20px;
  margin: 0 auto;
}

nav li {
  display: inline-block;
  height: 30px;
  color: black;
  margin-right: 50px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
}

a.active-page, a.active, a.focus {
  background: yellow;
  text-decoration: underline;
  font-weight: bold;
  border: solid 1px;
  padding: 7px 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

nav {
  width: 100%;
  background-color: moccasin;
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
}

header{
    background-image: url('../images/wallpaper.jpeg');
    background-size: cover;
    padding-bottom: 20px
}

body {
    background-color: ivory;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'Agbalumo', Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    line-height: 35px
}

h2 {
  font-size: 22px;
  line-height: 30px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff8a3;
  padding: 5px;
  border-radius: 10px;
}

h3 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

p {
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px
}

img {
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70%;
    border-radius: 20px;
    padding: 5px;
}

video {
  display: block;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 70%;
  border-radius: 20px;
}

ul {
    display: inline-block;
    margin-left: 50px;
    list-style-type: circle;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

ol {
    list-style: inside decimal;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
}

.pet-gallery {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

.pet-gallery img, .pet-gallery video {
  display: block;
  margin: auto;
  width: 95%;
  height: 95%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%
}

a{
text-decoration: underline;
}

figcaption{
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  line-height: 25px;
}

@media (prefers-reduced-motion: reduce) {
  .gif {
    display: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animation {
  animation: fade 2s ease-in-out infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}

.second-nav {
  display: none;
}


footer {
  text-align: center;
  background-color: moccasin;
  padding: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  border: none;
}


#clock {
  font-size: 18px;
  padding-bottom: 30px;
  background-color: moccasin;
  color: black;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
}

#back-button {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: moccasin;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}







/* TABLET VIEW */
@media only screen and (min-width: 600px){

  /* second navigation styling */
.second-nav {
  display: block;
  color: #fff8a3;
  width: 120px;
  position: fixed;
  top: 200px;
  left: 0;
  padding: 10px;
}

.second-nav a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 15px;
  text-align: center;
  margin-left: -40px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  background-color: #fff8a3;
}

.second-nav a:hover {
  background-color: #F8E56E;
}
/* end of second nav styling */

main {
  margin-left: 120px;
}

body {
    background-color: ivory;
    padding: 0;
    margin: 0;
}

#ingredientlist1, #ingredientlist2, #ingredientlist3, #ingredientlist4, #ingredientlist5 {
  display: none;
}

#view1, #view2, #view3, #view4, #view5 {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: underline;
}

}





/* DESKTOP VIEW */
@media only screen and (min-width: 800px){

img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.second-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  position: fixed;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.second-nav a {
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-left: -30px;
}

main {
  margin-left: 180px;
}

.food-gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.food-gallery img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.pet-gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pet-gallery img, .pet-gallery video{
  width: 300px;
  height: 300px;
  object-fit: cover;
}


}
